<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card class="card">
    <img class="center-normal" src="../../assets/image/user.png">
    <ion-card-content class="content">
      <ion-item *ngFor="let user of usuario">
      </ion-item>
      <ion-card-title>
        <h1 style="color: white;">{{nombre}}</h1>
        <hr>
      </ion-card-title>
      <p >{{datos}}</p>
      <hr>
      <p>Hora actual: {{fecha.substr(11,5)}}</p>
      <hr>
      <p>Fecha actual: {{fecha.substr(0,10)}}</p>
    </ion-card-content>