<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>
        {{nombre}}
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card class="card">
    <ion-list>
      <ion-item>
        <ion-avatar>
          <img src="../../assets/image/{{image}}">
        </ion-avatar>
        <ion-label class="label">Edad:{{edad}}</ion-label>
        <ion-label class="label">Viajes:{{viajes}}</ion-label>
      </ion-item>
    </ion-list>

  </ion-card>

  <ion-card class="center-normal">
    <ion-card-header >
      <h2>Fotos del vehiculo</h2>
    </ion-card-header>
    <ion-card-content>
      
      <ion-item-sliding>
        <ion-item>
          <img src="../../assets/image/{{vim}}" alt="Camaro">
        </ion-item>
        
        <ion-item-options side="end">
          <img src="../../assets/image/{{vim2}}" alt="Camaro">
        </ion-item-options>
      </ion-item-sliding>
      <h2>{{vehiculo}}</h2>
    </ion-card-content>
  </ion-card>
  <form [formGroup]="formViaje" (keyup.enter)="viajar()" class="bg-cajita">
  <ion-card>
    <ion-card>
      <ion-card-header>
          A donde vas?
      </ion-card-header>
      <ion-card-content>
        <ion-input formControlName="destino"></ion-input>
      </ion-card-content>
    </ion-card>
    <ion-card-header>Fecha</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Fecha</ion-label>
          <ion-datetime formControlName="fecha">displayFormat="DD/MM/YYYY"
          pikerFormat="YYYY/MM"
          [(ngModel)] ="fecha"
          cancelText = "Cancelar"
          doneText = "OK">
          </ion-datetime>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>Hora</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Hora</ion-label>
          <ion-datetime formControlName="hora">
            displayFormat="HH:mm" 
            pickerFormat="HH:mm" 
            [(ngModel)]="horaCorta"
            cancelText="Cancelar"
            doneText="OK"></ion-datetime>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-item>
      <ion-label>
        <p>Precio</p>
      </ion-label>
      <h3>$1.617</h3>
    </ion-item>
  </ion-card>
  <ion-item class="buton">
    <h1><ion-button color="dark" round outline size="large" (click)="viajar()">Viajar</ion-button></h1>
  </ion-item>
  </form>
</ion-content>

