<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card class="center caja bg-cajita">
    <ion-card-header>
      Recuperar Contraseña
    </ion-card-header>
    <ion-card-content>
      <div class="bg-cajita">
        <ion-item class="bg-cajita">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item class="bg-cajita">
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="mail"></ion-input>
        </ion-item>
        <hr>
        <ion-button (click)="enviar()">Enviar</ion-button>
        <hr>
        <ion-button (click)="volver()">Volver</ion-button>
        </div>
    </ion-card-content>
  </ion-card>
</ion-content>
