<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-content">
  <ion-card class="center caja bg-cajita">
    <ion-card-header>
      Iniciar Sesion
    </ion-card-header>
    <ion-card-content>
      <ion-item class="bg-cajita">
        <ion-label position="floating">Correo</ion-label>
        <ion-input formControlName="Correo"></ion-input>
      </ion-item>
      <ion-item class="bg-cajita">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="Password1" type="password"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>