.center{
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;
}
ion-toolbar{
    --background:#202020;
}
.bg-content{
    --background: #012C56;
    --background: -moz-linear-gradient(top, #012C56 0%, #012C56 41%, #FFB71B 100%);
    --background: -webkit-linear-gradient(top, #012C56 0%, #012C56 41%, #FFB71B 100%);
    --background: linear-gradient(to bottom, #012C56 0%, #012C56 41%, #FFB71B 100%);
}

.titulo{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    color:#FFB71B; 
}

.label{
    padding-left: 8px;
}

#map_canvas {
    width: 90%;
    height: 80%;
    border: 1px solid red;
  }
   
   
  #address {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
  }
   
  #map {
    width: 100%;
    height: 100px;
  }
   
  .map-wrapper {
    position: relative;
   
    #map_center {
      position: absolute;
      z-index: 99;
      height: 40px;
      width: 40px;
      top: 50%;
      left: 50%;
      margin-left: -21px;
      margin-top: -41px;
    }
  }