<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
<ion-card>
  <ion-card-header class="center">
    <h2>Conductores</h2>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let conductor of conductores">
        <ion-avatar slot="start">
          <img src="../../assets/image/{{conductor.image}}">
        </ion-avatar>
        <ion-label>
          <h2>Nombre: {{conductor.nombre}}</h2>
          <h3>Modelo: {{conductor.vehiculo}}</h3>
          <h3>Edad: {{conductor.edad}} años</h3>
          <h3>Capacidad: {{conductor.capacidad}}</h3>
          <h3>Viajes realizados: {{conductor.viajes}}</h3>
          <h3>Color del Vehiculo: {{conductor.color}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

  
</ion-content>
