<ion-header [translucent]="true">
  <ion-toolbar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="center" style="margin-top :5%">Bienvenido a TeLlevoApp</h2>
  <ion-grid class="caja" style="margin-top :5%">
    <ion-button class="caja"size="large" expand="block" (click)="login()">Iniciar Sesion</ion-button>
  <ion-button style="margin-top :5%" class="caja"color="primary" size="large" expand="block" (click)="register()">Registrarse</ion-button>
  </ion-grid>
</ion-content>
