.center{
  text-align: center;
}
ion-content{
  --background:url(../../assets/image/1366_2000.jpeg) no-repeat 0 0/100% 100%!important
}
h2{
  font-weight: 900;
  font-size: 260%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.caja{
  margin-top: 3%; margin-left: 10%;margin-right: 10%;border-radius:15px;border-color:aquamarine; border:2px solid; box-shadow:aqua 5px 5px 10px; padding:1;
}