<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card class="center caja bg-cajita">
    <ion-card-header>
      Registro
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formRegistro" (keyup.enter)="guardar()" class="bg-cajita">
        <ion-item class="bg-cajita">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input formControlName="User"></ion-input>
        </ion-item>
        <ion-item class="bg-cajita">
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="Correo" type="mail"></ion-input>
        </ion-item>
        <ion-item class="bg-cajita">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="Password1" type="password"></ion-input>
        </ion-item>
        <ion-item class="bg-cajita">
          <ion-label position="floating">Repetir contraseña</ion-label>
          <ion-input formControlName="Password2" type="password"></ion-input>
        </ion-item>
        <hr>
        <ion-button (click)="guardar()">Registrarse</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>